In [1]:
import h5py

In [2]:
import pandas as pd

In [3]:
!pwd

/Users/hbi16859/Desktop/python_scripts/python3_scripts

In [4]:
!ls /Users/hbi16859/Desktop/explore/AI_Pilot/datasets/ARCHS4/human_matrix.h5  #gene-level counts

/Users/hbi16859/Desktop/explore/AI_Pilot/datasets/ARCHS4/human_matrix.h5

In [5]:
inputfile="/Users/hbi16859/Desktop/explore/AI_Pilot/datasets/ARCHS4/human_matrix.h5"
input1=h5py.File(inputfile, 'r')

In [6]:
len(input1.keys())

3

In [7]:
input1.keys()

KeysView(<HDF5 file "human_matrix.h5" (mode r)>)

In [8]:
list(input1.keys())

['info', 'data', 'meta']

In [9]:
input1["info"]

In [10]:
list(input1["info"].keys())

['author', 'contact', 'creation-date', 'lab', 'version']

In [11]:
list(input1["data"].keys())

['expression']

In [12]:
input1["data"]["expression"]

In [13]:
input1["data"]["expression"][0,100:124]

array([8254, 9289, 5953,    1,    0, 3498, 1049,   35,    3,   11,    0,
         48, 1453,  604, 2008,  323,  968,  856,   87, 1114, 1396, 1184,
        345, 2522], dtype=int32)

In [14]:
len(input1["meta"]["genes"])

35238

In [15]:
list(input1["meta"].keys())

['Sample_channel_count',
 'Sample_characteristics_ch1',
 'Sample_contact_address',
 'Sample_contact_city',
 'Sample_contact_country',
 'Sample_contact_department',
 'Sample_contact_email',
 'Sample_contact_institute',
 'Sample_contact_laboratory',
 'Sample_contact_name',
 'Sample_contact_phone',
 'Sample_contact_zip-postal_code',
 'Sample_data_processing',
 'Sample_data_row_count',
 'Sample_description',
 'Sample_extract_protocol_ch1',
 'Sample_geo_accession',
 'Sample_instrument_model',
 'Sample_last_update_date',
 'Sample_library_selection',
 'Sample_library_source',
 'Sample_library_strategy',
 'Sample_molecule_ch1',
 'Sample_organism_ch1',
 'Sample_platform_id',
 'Sample_relation',
 'Sample_series_id',
 'Sample_source_name_ch1',
 'Sample_status',
 'Sample_submission_date',
 'Sample_supplementary_file_1',
 'Sample_supplementary_file_2',
 'Sample_taxid_ch1',
 'Sample_title',
 'Sample_type',
 'gene_accession',
 'gene_chromosome',
 'gene_entrezid',
 'gene_hgnc',
 'gene_name',
 'gene_refseqid',
 'gene_synonym',
 'genes',
 'reads_aligned',
 'reads_total']

In [16]:
input1["meta"]["gene_name"] #the number of genes correspond to the number of columns for the data

In [17]:
input1["meta"]["gene_entrezid"][0:10]

array([b'1', b'29974', b'2', b'144568', b'3', b'127550', b'53947',
       b'51146', b'8086', b'65985'], dtype='|S10')

In [18]:
input1["meta"]["gene_hgnc"][0:10]

array([b'HGNC:5', b'HGNC:24086', b'HGNC:7', b'HGNC:23336', b'HGNC:8',
       b'HGNC:30005', b'HGNC:18149', b'HGNC:17968', b'HGNC:13666',
       b'HGNC:21298'], dtype='|S11')

In [19]:
for gene in input1["meta"]["gene_name"][0:10]:
    if gene.startswith(b"APOBEC"):  #using "APOBEC will not workm not sure what the type is 
        print(gene)
    else:
        print("not APOBEC")

not APOBEC
b'APOBEC1 complementation factor'
not APOBEC
not APOBEC
not APOBEC
not APOBEC
not APOBEC
not APOBEC
not APOBEC
not APOBEC

In [20]:
input1["meta"]["Sample_type"] #this correspond to the number of rows of the data: the number of samples

In [21]:
list(input1['data'].keys())

['expression']

In [22]:
input1['data']['expression']

In [23]:
input1['data']['expression'][0,1]

77

In [24]:
pwd

'/Users/hbi16859/Desktop/python_scripts/python3_scripts'

In [25]:
import numpy as np

In [26]:
input1["meta"]["gene_name"][1:2]

array([b'APOBEC1 complementation factor'], dtype='|S126')

In [27]:
np.shape(input1['data']['expression'])

(125501, 35238)

In [28]:
len(input1["meta"]["genes"])

35238

In [29]:
input1["meta"]["genes"][1:5]

array([b'A1CF', b'A2M', b'A2ML1', b'A2MP1'], dtype='|S20')

In [30]:
type(input1["meta"]["genes"][1:2])

numpy.ndarray

In [31]:
symbols_rsem_file="/Users/hbi16859/Desktop/explore/AI_Pilot/datasets/ARCHS4/xena_rsem_hugo_symbols.txt"

In [32]:
symbols_rsem=pd.read_table(symbols_rsem_file,header=None,sep=",")

In [33]:
symbols_rsem[0][0:5]

0      5S_rRNA
1    5_8S_rRNA
2          7SK
3         A1BG
4     A1BG-AS1
Name: 0, dtype: object

In [34]:
input1["meta"]["genes"][0:2]

array([b'A1BG', b'A1CF'], dtype='|S20')

In [35]:
archrs4_genes=pd.Series(input1["meta"]["genes"]).apply(lambda x:x.decode('utf-8'))
archrs4_genes[0:5]

0     A1BG
1     A1CF
2      A2M
3    A2ML1
4    A2MP1
dtype: object

In [36]:
index_archrs4_in_rsem_genes=archrs4_genes.isin(symbols_rsem[0])
index_archrs4_in_rsem_genes[0:10]

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

In [37]:
len(archrs4_genes[index_archrs4_in_rsem_genes])  #number of ARCHRS4 genes (Kallisto) that are also in the RSEM gene list (TCGA and GTEx data);shared genes

33511

In [38]:
len(archrs4_genes[~index_archrs4_in_rsem_genes]) #number of ARCHRS4 genes (Kallisto) that are NOT in the RSEM gene list (TCGA and GTEx data)

1727

In [39]:
archrs4_genes[~index_archrs4_in_rsem_genes][0:3]

38         ABBA01000934.1
41    ABC13-47488600E17.1
42    ABC13-47656900H15.1
dtype: object

In [40]:
index_rsem_in_archrs4_genes=symbols_rsem[0].isin(archrs4_genes)
len(symbols_rsem[index_rsem_in_archrs4_genes])

33511

In [41]:
len(symbols_rsem[~index_rsem_in_archrs4_genes]) #number of RSEM genes (TCGA and GTEx data) that are NOT in the ARCHS4 gene list(Kallisto)

25071

In [42]:
symbols_rsem[~index_rsem_in_archrs4_genes][0:6]

           0
0    5S_rRNA
1  5_8S_rRNA
2        7SK
4   A1BG-AS1
7    A2M-AS1
9  A2ML1-AS1

In [43]:
symbols_rsem[~index_rsem_in_archrs4_genes][1000:1006]

               0
1592  AC010884.2
1594  AC010887.1
1595  AC010888.1
1596  AC010890.1
1597  AC010891.2
1598  AC010894.3

In [44]:
#write shared genes to the disk
#already did
#archrs4_genes[index_archrs4_in_rsem_genes].to_csv("/Users/hbi16859/Desktop/explore/AI_Pilot/datasets/ARCHS4/Shared_gene_symbols_btween_kallisto-archrs4_and_rsem-tcga-gtex.csv",index=False)

In [45]:
pwd

'/Users/hbi16859/Desktop/python_scripts/python3_scripts'

In [46]:
index_archrs4_in_rsem_genes[-10:-1]

35228    False
35229    False
35230    False
35231    False
35232    False
35233    False
35234    False
35235    False
35236    False
dtype: bool

In [47]:
input1['meta']['Sample_type'][0:5]

array([b'SRA', b'SRA', b'SRA', b'SRA', b'SRA'], dtype='|S4')

In [48]:
input1["data"]["expression"][index_archrs4_in_rsem_genes,:][0:5,2]

array([10743,   189,  1518,  1873, 26007], dtype=int32)

In [50]:
input1["meta"]["Sample_type"][100:107]

array([b'SRA', b'SRA', b'SRA', b'SRA', b'SRA', b'SRA', b'SRA'],
      dtype='|S4')